.expansion_numeros_ganadores{
  background: #f4f4f4 !important;
  height: 60px;
  padding-left: 0 !important;
}
.expansion_numeros_ganadores .circle_number{
  display: flex;
  justify-content: center;
  flex:1;
}
.expansion_numeros_ganadores .icon{
  align-self: center;
  flex: 1.3;
  padding-right: 3px;
}
.expansion_numeros_ganadores .icon img{
  width: 78px;
}
.expansion_numeros_ganadores .time_day{
  flex: 1.2;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #999999;
}
.expansion_numeros_ganadores .value{
  color: #4f83c8;
  flex: 1.5;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.container_expansion_details{
  height: 45px;
  display: flex;
  border-bottom: solid 1px lightgray;
  font-size: 17px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  justify-content: center;
}
.container_expansion_details .username{
  color: #4f83c8;
  align-self: center;
  margin-left: 2.4rem;
  flex: 1;
}
.container_expansion_details .user_value{
  color: #999999;
  align-self: center;
  flex: 0.8;
}

