.entrada-datos{
    margin: 3px !important;
}

.userP_ventas_activas{
    background: white;
    padding-bottom: 70px;
}

.userP_ventas_activas .list_apuestas{
    background-color: #fbf7ea;
    width: 100%;
    padding-top: 112px;
}

.userP_ventas_activas .list_apuestas .total{
    padding-bottom: 10px;
}
.userP_ventas_activas .list_apuestas .total .text{
    text-align: center;
    color: #999999;
    font-size: 18px;
    margin-left: 94px;
}
.userP_ventas_activas .list_apuestas .total .value{
    text-align: center;
    color: #999999;
    font-size: 18px;
    margin-left: 44px;
}

@media (min-width: 410px){
  .userP_ventas_activas .list_apuestas .total .text{
    margin-left: 115px;
  }
  .userP_ventas_activas .list_apuestas .total .value{
    margin-left: 55px;
  }
}
