.resumen_container{
 padding: 0 !important; 
 border: solid 1px #ccc;
}
.resumen_header{
  position: fixed;
  top: 93px;
  height: 58px;
  max-width: 444px;
  background: #dfedfa;
  text-align: center !important;
  z-index: 50;
  width:100% !important;
  border-left: solid 1px #9A9A9A;
  border-right: solid 1px #9A9A9A;
  left: 50%;
  transform: translateX(-50%);
}
.resume_title{
  color: #003333;
  font-size: 20px !important;
  flex: 1;
  vertical-align: middle;
  line-height: 58px !important;
  margin-left: 20.53vw !important;
  text-align: left;
}
.resume_create_btn{
  padding-right: 28px !important;
  font-size: 1.7em !important;
}
.resumen_create_icon{
  color: #006666;
}

.resumen_total{
  line-height: 35px;
  border-bottom: solid 3px #69c;
  font-size: 1.1rem;
  display: flex;
  margin-top: 56px;
}

.resumen_total_text{
  color: #999999;
  flex: 1.7;
  text-align: right;
  padding-right: 10px;
  letter-spacing: 1px;
}
.resumen_total_val{
  color: #6699cc;
  flex: 1;
}

@media (min-width: 480px){
  .resume_title{
    font-size: 23px !important;
  }
}

@media (min-width: 600px){
  .resume_title{
    font-size: 23px !important;
    margin-left: 5vw !important;
  }
}
