.resumen_container{
 padding: 0 !important; 
 border: solid 1px #ccc;
}
.resumen_header{
  height: 65px;
  background: #dfedfa;
  text-align: center !important;
}
.resume_title{
  color: #003333;
  font-size: 22px !important;
  flex: 1;
  vertical-align: middle;
  line-height: 65px !important;
  margin-left: 13vw !important;
}
.resume_create_btn{
  padding-right: 28px !important;
  font-size: 2.1em !important;
}
.resumen_create_icon{
  color: #006666;
}

.resumen_total{
  line-height: 35px;
  border-bottom: solid 3px #69c;
  font-size: 1.3rem;
  display: flex;
}

.resumen_total_text{
  color: #999999;
  flex: 2;
  text-align: right;
  padding-right: 22px;
  letter-spacing: 1px;
}
.resumen_total_val{
  color: #6699cc;
  flex: 1;
}

@media (min-width: 480px){
  .resume_title{
    font-size: 23px !important;
  }
}

@media (min-width: 600px){
  .resume_title{
    font-size: 23px !important;
    margin-left: 10vw !important;
  }
}
