.form__center-label{
     display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.container_crear_p{
    margin-top: 153px;
    margin-bottom: 80px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.container_crear_p .btn_group_moneda{
  flex: 1;
  margin-left: -15px;
}
.container_crear_p .btn_group_moneda{
  text-align: right;
  display: flex;
}
.container_crear_p .btn_group_moneda button{
  border: none;
}
.container_crear_p .btn_group_moneda img{
  width: 40px;
}
.container_crear_p .title_info .text{
    font-size: 10px;
    color: #BCBCBC;
    margin-top: 30px;
}

.container_crear_p .container_usersetting{
    background: white;
    padding: 0;
}

.container_crear_p .container_usersetting .username{
    width: 235px;
    margin-left: 45px;
}

.container_crear_p .crear_vendedor_p{
    background: blue;
    width: 153px;
    height: 37px;
    color: white;
    border-radius: 20px;
}
.container_crear_p .btn_crear{
  background: #5891DC !important;
  height: 37px !important;
  width:153px !important;
  color: white !important;
  padding-left: 10px !important;
  margin-left: 12px !important;
  margin-right: 14px !important;
}
.container_crear_p .btn_crear .iconP{
  font-size: 30px;
}
.container_crear_p .btn_crear .textP::first-letter {
  text-transform: uppercase;
}
.container_crear_p .btn_crear .textP{
  text-transform: lowercase;
  font-size: 17px;
  padding-left: 9px;
}