.container_expand {
  display: flex;
  border-bottom: solid 1px #aeaeae;
  border-top: solid 1px #aeaeae;
  padding-left: 10px;
}

.expand_labelText{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: 400 !important;
  padding-left: 13px !important;
}

@media (max-width: 410px){
  .container_expand {
    padding-left: 0px;
  }
}