.container_entry {
  border-bottom: solid 2px #aeaeae;
}

.labelUser {
  flex: 6;
  text-align: center;
  color: #066;
  padding-left: 10px;
}

.form_center-label {
  vertical-align: middle !important;
  line-height: 3rem !important;
  font-size: 1.2rem !important;
}

.grid_lolosStar{
  flex: 2;
  font-size: 1.8rem !important;
  text-align: center;
  margin-top: -1px;
}
.grid_tiPen {
  flex: 2;
  font-size: 1.8rem !important;
  text-align: center;
  margin-top: -1px;
}
.grid_goTranhcan {
  flex: 2;
  font-size: 1.8rem !important;
  text-align: center;
  padding-right: 7vw;
  margin-top: -1px;
}

.valuesContainer {
  flex: 7;
  text-decoration: none !important;
}

.balanceLink {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 4;
  border-left: #afb6b8 1px solid;
  justify-content: center;
  font-size: 0.8rem !important;
}

.text_container {
  font-size: 1.3rem;
  align-content: center;
  padding: 21px 0;
}

.text_label {
  flex: 1;
  padding-left: 20px !important;
  color: #999999 !important;
}

.text_symbol {
  text-align: right;
  color: #6699cc !important;
}

.text_value {
  padding-left: 10px;
  padding-right: 5vw;
  text-align: right;
  color: #6699cc !important;
}

.expansionPanelTextHeader {
  margin-left: 9vw !important;
  margin-top: -10px !important;
  color: #999;
  font-size: 1.3rem !important;
}

.expansion_icon {
  font-size: 1.7rem !important;
  color: #033;
}

@media (max-width: 479px){
  .text_value {
    padding-right: 4vw;
    padding-left: 5px;
  }
}