.container_entry {
  border-bottom: solid 2px #aeaeae;
}

.labelUser {
  flex: 5;
  text-align: center;
  color: #066;
  padding-left: 10px;
}

.form_center-label {
  vertical-align: middle !important;
  line-height: 4rem !important;
  font-size: 1.5rem !important;
}

.grid_lolosStar {
  flex: 2;
  font-size: 2rem !important;
  text-align: center;
  margin-top: -5px;
}

.grid_tiPen {
  flex: 2;
  font-size: 2rem !important;
  text-align: center;
  margin-top: -5px;
}

.grid_goTranhcan {
  flex: 2;
  font-size: 2rem !important;
  text-align: center;
  padding-right: 25px;
  margin-top: -5px;
}

.valuesContainer {
  flex: 3;
  text-decoration: none !important;
}

.balanceLink {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 2;
  border-left: #afb6b8 1px solid;
  justify-content: center;
}

.text_container {
  font-size: 1.7em;
  align-content: center;
  padding: 21px 0;
}

.text_label {
  flex: 1;
  padding-left: 32px !important;
  color: #999999 !important;
}

.text_symbol {
  text-align: right;
  color: #6699cc !important;
}

.text_value {
  padding-left: 10px;
  padding-right: 50px;
  text-align: right;
  color: #6699cc !important;
}

.expansionPanelTextHeader {
  margin-left: 9rem !important;
  margin-top: -15px !important;
  color: #999;
  font-size: 1.7em !important;
}

.expansion_icon {
  font-size: 2.2rem !important;
  color: #033;
}