.container_jugadorDetailesEntry{
  border-top: solid 1px #dbdcdd;
  height: 72px !important;
}

.container_jugadorDetailesEntry .logo_icon{
  text-align: center !important;
  line-height: 72px;
  cursor: pointer;
}
.container_jugadorDetailesEntry .logo_icon img{
  width: 90px !important;
  vertical-align: middle;
}

.headerLabelSorteoHour{
  display: flex !important;
  color: #6F6864;
  font-size: 20px;
  height: 33px !important;
  margin-top: 1px !important;
}
.headerLabelSorteoHour .time{
  flex: 1;
  text-align: right;
}
.headerLabelSorteoHour .day{
  flex: 2;
}

.valuesContainer .img_open_close{
  text-align: center;
}
.valuesContainer .img_open_close img{
  width: 20px;
}

.valuesContainer .textData{
  color:#999999;
  text-align: right !important;
}
.valuesContainer .total_amount{
  color:#4f83c8;
}
.valuesContainer .total_amount .body1{
  font-size: 1.1rem;
}

@media (max-width: 410px){
  .container_jugadorDetailesEntry .logo_icon img{
    width: 80px !important;
    vertical-align: middle;
  }
}