.container_ventas_generales{
  padding: 0 !important;
}
.container_ventas_generales .btn_group_moneda{
  margin-top: 151px;
  height: 57px;
  text-align: right;
}
.container_ventas_generales .btn_group_moneda button{
  border: none;
}
.container_ventas_generales .btn_group_moneda img{
  width: 37px;
}
