.player_Sorteos_Pasados{
  padding-top: 60px;
  width: 100%;
}
.player_Sorteos_Pasados .combo_bet{
  text-align: center;
  height: 217px;
  border-bottom: solid 2px #E9983E;
  justify-content: center;
}

.player_Sorteos_Pasados .combo_box{
  align-self: center;
  padding-top: 10px;
}

.player_Sorteos_Pasados .week_total_text{
  display: flex;
  align-self: center;
  line-height: 20px;
  text-align: left;
}

.player_Sorteos_Pasados .week_total_text p{
  margin-bottom: 0px !important;
}

.player_Sorteos_Pasados .left_text{
  padding-left: 18px;
  color: #999999;
}
.player_Sorteos_Pasados .right_text{
  padding-left: 18px;
  color: #4f83c8;
  display: flex;
}
.player_Sorteos_Pasados .right_text .left{
  padding-right: 15px;
  width: max-content;
  text-align: right;
}
.player_Sorteos_Pasados .right_text .right{
  width: max-content;
  text-align: right;
}

.player_Sorteos_Pasados .combo_bet .native_select{
  width: 340px;
  height: 45px;
}

.player_Sorteos_Pasados .combo_bet .native_select select{
  color: #183721;
  font-size: 18px;
}

.player_Sorteos_Pasados .combo_bet .native_select svg{
  color: white;
  background: #92BEE9;
  right: 0;
  height: 44px;
  top: calc(50% - 22px);
  width: 36px;
  border-radius: 0 4px 4px 0;
}

.player_Sorteos_Pasados .combo_bet .native_select option{
  padding-left: 30px !important;
}
.player_Sorteos_Pasados .combo_bet .native_select select{
  background: #EDEDED !important;
  border: solid 1px #80bdff;
}

.player_Sorteos_Pasados .combo_bet .bootstrap_input{
  border-radius: 4px;
  position: 'relative';
  background-color: lightgray;
  border: 1px solid #ced4da;
  font-size: 16px;
  width: 11rem !important;
  padding: 10px 26px 10px 12px;
}
.player_Sorteos_Pasados .bootstrap_input:focus{
        /* transition: theme.transitions.create(['border-color', 'box-shadow']), */
  border-radius: 4px;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
