.form__center-label{
    display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   align-items: center;
}

.form__left-label{
    display: flex;
   justify-content: left;
   flex-direction: column;
   text-align: center;
   align-items: center;
}