.historyListDetail {
  width: 100%;
  padding: 7px 0px 0px 0px;
  margin: 0px;
}

.historyListDetail .history_apuesta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding-bottom: 3px;
}

.historyListDetail .history_apuestaNumber {
  width: 60px;
  height: 40px;
  max-width: 12.25rem;
  margin-left: 1rem;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border: 1px solid #cccccc;
  border-radius: 17px;
  padding: 0.25rem;
  text-align: center;
}
.historyListDetail .history_apuestaNumber span {
  color: #999999;
  font-size: 1.25rem;
}
.historyListDetail .history_apuestaValues span {
  color: #999999;
  font-size: 1.25rem;
}
.history_total{
  color: #999999;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 34px;
  padding-bottom: 8px;
}
.historyListDetail .history_apuestaValues {
  width: 116px;
  height: 40px;
  max-width: 12.25rem;
  margin-left: 0.6rem;
  margin-right: 1.4rem;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border: 1px solid #cccccc;
  border-radius: 17px;
  padding: 0.25rem;
  text-align: center;
}
.historyListDetail .history_apuestaValues span {
  color: #999999;
  font-size: 1.25rem;
}

