.toolbar {
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    width: 100%;
    background:#ff9933;
    height: 5.5rem;
    z-index: 50;
}
.toolbar__user-username {
    display: flex;
    height: 3.8rem;
    width: 6.6rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: transparent;
    border: 3px solid #FFF;
    border-radius: 5px;
    color: white;
    margin: 0 0.9rem;
    font-size: 22pt;
    font-family: 'Arial';
}
.toolbar__user-username:hover{
    cursor: pointer;
}
.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 0.5rem;
}

.toolbar__logo {
    padding: 1rem 0px 1.8rem 1.35rem;
}

.toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    align-items:center;
    overflow:hidden;
}

.toolbar__logo a img{
    flex-shrink: 0;
    min-width: 100%;
    max-width:14rem;
    min-height:100%;
}

.toolbar__navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar__navigation-items li {
    padding: 0 0.5rem;
}

.spacer {
    flex: 1;
}

.toolbar__navigation-items a {
    color: white;
    text-decoration: none;
}

.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active {
    color: #fbd534;

}

@media (max-width: 768px) {
    .toolbar__navigation-items {
        display: none;
    }
}

@media (min-width: 769px) {
    .toolbar__toggle-button
    {
        display: none;
    }

    .toolbar__logo {
        margin-left: 0;
    }
    .toolbar__logo a img{
        max-width:14rem;
    }
}
