.toolbar {
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    width: 100%;
    background:#ff4748;
    height: 56px;
    z-index: 50;
}
.toolbar__user-username {
    display: flex;
    height: 38px;
    width: 67px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: transparent;
    border: 2px solid #FFF;
    border-radius: 3px;
    color: white;
    margin: 0 0.95rem;
    font-size: 18px !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    
}

.toolbar__user-username:hover{
    cursor: pointer;
}
.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
}

.toolbar__logo {
    padding: 1vw 1vw 1vw 5.0667vw;
}

.toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    align-items:center;
    overflow:hidden;
    width: 39.7vw;
}

.toolbar__logo a img{
    flex-shrink: 0;
    min-width: 100%;
    max-width:14rem;
    min-height:100%;
    width: 100%;
}

.toolbar__navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar__navigation-items li {
    padding: 0 0.5rem;
}

.spacer {
    flex: 1;
}

.toolbar__navigation-items a {
    color: white;
    text-decoration: none;
}

.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active {
    color: #fbd534;

}

@media (min-width: 600px) {
    .toolbar__user-username {
        font-size: 22px;
        width: 80px;
    }
    .toolbar__logo a {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .toolbar__navigation-items {
        display: none;
    }
}

@media (min-width: 769px) {
    .toolbar__toggle-button
    {
        display: none;
    }

    .toolbar__logo {
        margin-left: 0;
    }
    .toolbar__logo a img{
        max-width:14rem;
    }
}
