.numbers:focus-within{
  border-color: blue;
}

.clearfix{
  clear: both;
}
.clearfix::after{
  clear: both;
}
.clearfix::before{
  clear: both;
}

.slideAddBtn{
  position: fixed;
  bottom: 300px;
  right: 20px;
  z-index: 100;
}