.clock__column {
    float: left;
    width: 33.33%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: transparent;
    padding-bottom: .5rem;
    font-size: 18pt;
    padding-top: 0.2rem;
}

.clock__row {
    border-bottom: 2px solid #747474;
    position: fixed;
    display: block;
    width: 100%;
    height: 3.5rem;
    top: 5.5rem;
    background-color: white;
    z-index: 25;   
}

/* Clear floats after the columns */
.clock__row:after {
    content: "";
    display: table;
    clear: both;

}