.container_detalle_individual{
  padding: 0px !important;
}
.container_detalle_individual .userInfo{
  border-bottom-width: 0px !important;
  width: 90%;
  margin: 0 auto;
}
.container_detalle_individual .userInfo .icon{
  line-height: 65px !important;
  vertical-align: middle !important;
}
.container_detalle_individual .userInfo img{
  width: 88px;
}
.container_detalle_individual .right_text{
  justify-content: center !important;
}
.container_detalle_individual .date_time{
  font-size: 15px;
  margin-left: -21px;
  color: #9C9C9C;
  margin-bottom: 0px;
}
.container_detalle_individual .user_name{
  font-size: 18px;
  color: #066;
  text-align: right;
  margin-bottom: 0px;
}

.container_detalle_individual .summaryTotal .text_container{
  width: 60% !important;
  margin: 0 auto !important;
  font-size: 16px !important;

}
.container_detalle_individual .summaryTotal .text_container .text_label{
  margin-left: 20px;

}
.container_detalle_individual{

}