.detalle_ventas_generales{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.detalle_ventas_generales .container_time{
  position: fixed;
  margin-top: 60px;
  height: 60px;
  padding: 0;
  display: flex;
  border-bottom: solid 1px #d7d3d3;
  background: #f4f4f4;
  border-left: solid 1px #9A9A9A;
  border-right: solid 1px #9A9A9A;
  left: 50%;
  transform: translateX(-50%);
  max-width: 444px;
}
.detalle_ventas_generales .title_info{
  flex: 2;
  display: flex;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}
.detalle_ventas_generales .title_info .icon{
  flex: 1;
  margin-left: 10px;
}
.detalle_ventas_generales .title_info img{
  width: 76px;
}
.detalle_ventas_generales .title_info .text{
  flex:2;
  font-size: 14px;
  color: #686768;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  text-align: center;
}
.detalle_ventas_generales .btn_group_moneda{
  flex: 1;
  margin-left: -15px;
}
.detalle_ventas_generales .btn_group_moneda{
  text-align: right;
  display: flex;
}
.detalle_ventas_generales .btn_group_moneda button{
  border: none;
}
.detalle_ventas_generales .btn_group_moneda img{
  width: 40px;
}
.detalle_ventas_generales .container_total{
  margin-top: 120px;
  width: 100%;
  padding-left: 20px;
  height: 107px;
  display: flex;
  vertical-align: middle;
  border-bottom: solid 1px #d7d3d3;
}
.detalle_ventas_generales .table_ventas{
  width: 100%;
}

.detalle_ventas_generales .container_print{
  height: 102px;
  background: white;
}
.detalle_ventas_generales .localPrintshop_Detalle_Ventas_Generales{
  background: #663399 !important;
  height: 37px !important;
  width:153px !important;
  color: white !important;
  padding-left: 10px !important;
  margin-left: 12px !important;
  margin-right: 14px !important;
}
.detalle_ventas_generales .localPrintshop_Detalle_Ventas_Generales .iconP{
  font-size: 30px;
}
.detalle_ventas_generales .localPrintshop_Detalle_Ventas_Generales .textP::first-letter {
  text-transform: uppercase;
}
.detalle_ventas_generales .localPrintshop_Detalle_Ventas_Generales .textP{
  text-transform: lowercase;
  font-size: 17px;
  padding-left: 9px;
}