.login-page {
  /* width: 360px; */
  padding: 1% 0 0;
  margin: auto;
  width: 100% !important;
  height: 100%;
  /*background-image: url("assets/background.png");*/
}

.grid-username {
  margin: 50px 10px 20px 10px !important;
}

.input-group {
  height: 58px;
}

.form-control {
  height: 58px !important;
}

.grid-password {
  margin: 20px 10px 10px 10px !important;
}

.grid-login {
  margin: 50px 10px 20px 10px !important;
}

.login-button {
  background: #2F6EB4 !important;
  width: 100%;
  text-transform: unset !important;
  color: white !important;
  font-size: 14px !important;
}

.login-button>span {
  font-size: 21px;
  font-weight: bold;
  padding: 6px;

}