.container_historial_jugadorByDay{
  /* display: flex; */
}
.container_historial_jugadorByDay .expansionPanel_day{
  background: #f3ecc7;
}
.container_historial_jugadorByDay .expansionPanel_day div:first-child{
  /* height: 60px !important; */
}
.container_historial_jugadorByDay .expansionPanel_day:first-child .numeroText{
  color: #183721;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  flex: 1;
  border-right: solid 1px lightgray;
  line-height: 60px;
}
.container_historial_jugadorByDay .expansionPanel_day:first-child .valorText:first-child{
  width: 30px;
  text-align: right;
}
.container_historial_jugadorByDay .expansionPanel_day:first-child .valorText{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  flex: 1.2;
  line-height: 60px;
  padding-left: 9px;
  display: flex;
}
.container_historial_jugadorByDay .expansionPanel_day .valorText .right{
  text-align: right;
  width: 20px;
}
.container_historial_jugadorByDay .expansionPanel_day .valorText .left{

}
.container_historial_jugadorByDay .expansionPanel_day .MuiExpansionPanelSummary-content{
  margin: 0 !important;
}

.container_historial_jugadorByDay .expansionPanel_day .expansion_icon_remove{
  margin-left: -9px;
  color: #033;
}

.container_historial_jugadorByDay .expansionPanel_day .expansionPanelBody{
  padding: 0 !important;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  display: block;
}
.container_historial_jugadorByDay .expansionPanel_day .expansionPanelBody .summary{
  margin-left: -9%;
  align-self: center;
}
.container_historial_jugadorByDay .expansionPanel_day .expansionPanelBody .summary .premio{
  color: #229144;
  padding-top: 10px;
  display: flex;
}
.container_historial_jugadorByDay .expansionPanel_day .expansionPanelBody .summary .premio .sign{
  width: 80px;
}

.container_historial_jugadorByDay .week_total_text{
  display: flex;
  align-self: center;
  line-height: 20px;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.container_historial_jugadorByDay .expansionPanel_day .expansionPanelBody .week_total_text p{
  margin-bottom: 0px !important;
}

.container_historial_jugadorByDay .expansionPanel_day .expansionPanelBody .left_text{
  padding-left: 18px;
  color: #999999;
}
.container_historial_jugadorByDay .expansionPanel_day .expansionPanelBody .right_text{
  padding-left: 18px;
  color: #4f83c8;
}