.container_rowList_1{
  width: 85% !important;
}
.container_rowList_1 .text_container {
  align-content: center;
  font-size: 16px;
}

.container_rowList_1  .text_container .text_label {
  flex: 1;
  color: #999999 !important;
}

.container_rowList_1  .text_container .text_symbol {
  text-align: right;
  color: #6699cc !important;
}

.container_rowList_1 .text_container .text_value {
  text-align: left;
  color: #4f83c8 !important;
  display: flex;
}
