.admin_header {
  height: 4.5rem;
  background: #ccffff;
  font-size: 17pt;
  justify-content: center;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  color: #003333;
}