.admin_header {
  height: 58px;
  background: #dfedfa;
  font-size: 22px !important;
  color: #003333;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  justify-content: center;
  display: flex;
  align-items: center;
  max-width: 444px !important;
  margin: 0 auto;
  position: fixed;
  top: 93px;
  width: 100%;
}


