.admin_header {
  height: 60px;
  background: #dfedfa;
  font-size: 22px !important;
  color: #003333;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  justify-content: center;
  display: flex;
  align-items: center;
  max-width: 444px !important;
  margin: 0 auto;
  position: fixed;
  top: 93px;
  width: 100%;
  z-index: 50;
  border-left: solid 1px #9A9A9A;
  border-right: solid 1px #9A9A9A;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 !important; 
}

.admin_header .header_title{
  padding-left: 6% !important;
}

.admin_header .header_icon{
  color: #828282;
  font-size: 29px !important;
  margin-left: -5px;
}


